
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers" >



<label for="firstName">
	fn<f:translate key="tx_t3registration_domain_model_user.firstName" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="firstName" /><br />
<label for="lastName">
   ln <f:translate key="tx_t3registration_domain_model_user.lastName" /> <span class="required">(required)</span>
</label><br />
<f:form.textfield property="lastName" /><br />
<f:render partial="FormErrorLabel" arguments="{field:'user.username'}" />
<label for="name">
   us <f:translate key="tx_t3registration_domain_model_user.username" /> <span class="required">(required)</span>
</label><br />
<f:form.textfield errorClass="pippo" property="username" /><br />
<label for="name">
   pw <f:translate key="tx_t3registration_domain_model_user.password" /> <span class="required">(required)</span>
</label><br />
<f:form.textfield property="password" /><br />
<label for="telephone">
    pw <f:translate key="tx_t3registration_domain_model_user.telephone" /> <span class="required">(required)</span>
</label><br />
<f:form.textfield property="telephone" /><br />
