<label for="name">
	<f:translate key="tx_t3registration_domain_model_user.name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="name" /><br />
<label for="name">
    <f:translate key="tx_t3registration_domain_model_user.address" /> <span class="required">(required)</span>
</label><br />
<f:form.textfield property="address" /><br />
<label for="name">
    <f:translate key="tx_t3registration_domain_model_user.username" /> <span class="required">(required)</span>
</label><br />
<f:form.textfield property="username" /><br />