
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers" >

<label for="firstName">
  <f:translate key="tx_t3registration_domain_model_user.firstName" /> <span class="required">(required)</span>
</label><br />
<f:form.textfield errorClass="form-error" id="firstName" property="firstName" /><f:render partial="FormErrorLabel" arguments="{field:'user.firstName'}" /><br />

<label for="lastName">
    <f:translate key="tx_t3registration_domain_model_user.lastName" /> <span class="required">(required)</span>
</label><br />
<f:form.textfield errorClass="form-error" id="lastName" property="lastName" /><f:render partial="FormErrorLabel" arguments="{field:'user.lastName'}" /><br />

<label for="username">
    <f:translate key="tx_t3registration_domain_model_user.username" /> <span class="required">(required)</span>
</label><br />
<f:form.textfield id="username" errorClass="form-error" property="username" /><f:render partial="FormErrorLabel" arguments="{field:'user.username'}" /><br />

<label for="password">
    <f:translate key="tx_t3registration_domain_model_user.password" /> <span class="required">(required)</span>
</label><br />
<f:form.textfield errorClass="form-error" id="password" property="password" /><f:render partial="FormErrorLabel" arguments="{field:'user.password'}" /><br />

<label for="telephone">
    <f:translate key="tx_t3registration_domain_model_user.telephone" /> <span class="required">(required)</span>
</label><br />
<f:form.textfield errorClass="form-error" id="telephone" property="telephone" /><f:render partial="FormErrorLabel" arguments="{field:'user.telephone'}" /><br />

<label for="city">
    <f:translate key="tx_t3registration_domain_model_user.city" /> <span class="required">(required)</span>
</label><br />
<f:form.textfield errorClass="form-error" id="city" property="city" /><f:render partial="FormErrorLabel" arguments="{field:'user.city'}" /><br />

<label for="address">
    <f:translate key="tx_t3registration_domain_model_user.address" /> <span class="required">(required)</span>
</label><br />
<f:form.textfield errorClass="form-error" id="address" property="address" /><f:render partial="FormErrorLabel" arguments="{field:'user.address'}" /><br />

<label for="zip">
    <f:translate key="tx_t3registration_domain_model_user.zip" /> <span class="required">(required)</span>
</label><br />
<f:form.textfield errorClass="form-error" id="zip" property="zip" /><f:render partial="FormErrorLabel" arguments="{field:'user.zip'}" /><br />
